# Python
*.pyc
__pycache__/
**/__pycache__/

# Django
*.log
*.pot
db.sqlite3
/media/              
# TODO: check /media/ again

# Environment & Secrets
*.env
*.pem
venv/

# Node / Frontend
node_modules/
**/build/           

# Project Files
genai_response.txt
commonCommands.txt