# Django 
*.log
*.pot
__pycache__
**/__pycache__/
*.pyc
db.sqlite3
media

# Python
venv/

# Project
genai_response.txt
media/*.jpg
commonCommands.txt
.pem
.env

**/build/

frontend/node_modules/
**/node_modules/
*/node_modules/
node_modules/
node_modules/*