/* theme.css */

/* 
bg-color:
*/

/* Default (light mode) */
:root {
  --white: #FFFFFF;
  --cream: #F9F6F1;
  --black: #000000;
  --black-shadow: #121619;
  --grey-dark: #1a1a1a;
  --grey: #D9D9D9;
  --green-light: #8DB580;
  --green-dark: #2D4739;
  --red: #984447;

  --bg-color-base: var(--cream);
  --bg-color-surface: var(--white);
  --bg-color-header: var(--white);
  --text-color: var(--black);
  --accent-color: var(--green-light);
  --element-color: var(--green-dark);
  --border-color: var(--grey);
  --hover-bg: #f1f1f1;
  --shadow-color: #121619;
  --shadow-color-rgb: 18, 22, 25;
}

/* Dark mode overrides */
[data-theme="dark"] {
  --white: #FFFFFF;
  --cream: #F9F6F1;
  --black: #000000;
  --black-shadow: #121619;
  --grey-dark: #1a1a1a;
  --grey: #D9D9D9;
  --green-light: #8DB580;
  --green-dark: #2D4739;
  --red: #984447;

  --bg-color-base: #0f0f0f;
  --bg-color-surface: var(--grey-dark);
  --bg-color-header: var(--grey-dark);
  --text-color: #f0f0f0;
  --accent-color: var(--green-dark);
  --element-color: var(--green-light);
  --border-color: #333333;
  --hover-bg: #2a2a2a;
  --shadow-color: #121619;
  --shadow-color-rgb: 18, 22, 25;
}
