.category-budget-container {
    padding: 1rem 2rem;
    max-width: 85vw;
    background-color: var(--bg-color-surface);
    border-radius: 8px;
    margin-bottom: 2rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    width:85vw;

    ul {
        padding: 0;
    }

    input,
    select {
        padding: 0.5rem;
        font-size: 1rem;
    }

    input {
        background-color: var();
    }

    button {
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 5px;

        &:hover {
            filter: brightness(0.8);
            cursor: pointer;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 1rem;
        /* border: 1px solid var(--element-color); */
    }

    table th,
    table td {
        padding: 0.5rem 1rem;
        text-align: left;
        border-bottom: 1px solid var(--border-color);
    }

    table th {
        background-color: var(--accent-color);
    }

    table tr {
        background-color: var(--bg-color-base);
    }

}

.category-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

.category-name-input {
    flex: 1;
    padding: 0.3rem;
}

.main-label {
    font-size: 0.9rem;
    color: var(--grey);
    cursor: help;
    width: 5%;
}

.new-category-form {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: space-between;

    input {
        flex: 1;
        padding: 0.3rem;
    }
}

.budget-form {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.budget-input {
    width: 100px;
    margin-left: 0.5rem;
}